.reviews {
    max-width: 800px;
}

.review-form {
    display: flex;
    margin-bottom: 10px;
}

.review-textbox {
    width: auto;
}

.review-card {
    border: solid 1px;
    border-radius: .5em;
    padding: 10px;
    margin: 10px;
}

.review-name {
    font-weight: bolder;
}