.reviews {
 
}

.review-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.name-container, .review-container {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.textbox {
    width: auto;
}

.submit {
    margin-top: 10px;
    align-self: flex-end;
}

.review-card {
    border: solid 1px;
    border-radius: .5em;
    padding: 10px;
    margin: 0 70px 10px 10px;
}

.review-name {
    font-weight: bolder;
}