@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
.map-h2 {
  display: flex;
  align-content: right;
}

.listing {
  margin-right: 280px;
  padding-top: -90px;
  
  
}

.google-map {
  display: flex;
  /* height: 60vh; */
  height: 100%;
  width: 70%;
  margin-left: 280px;
 position: absolute;
 top: 28%;
 
}

.pin {
  display: flex;
  align-items: center;
  flex-direction: row;

  color: var(--main-blue);
}

.pin-icon {
  display: flex;
  align-items: center;
  font-size: 4rem;
}

.pin-text {
  font-size: 1.3em;
}

@media screen {
  .google-map {
    
    height: 50vh;
    margin-bottom: 50px;
    
    width: 70%;
    height: 50%;
   
    
  }

  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .pin {
    width: 15vw;
  }

  .pin-icon {
    font-size: 10vw;
  }
  #name{
    text-align: center;
    font-family: 'Monofett', cursive;
  }
  .recon{
    background-color:#f3f3f3 ;
  }
  
}
.address{
  font-size: 16px;

}
